# C++
*.o
*.obj
*.gch
*.pch
*.a
*.lib
*.so
*.so.*
*.dylib
*.dll
*.exe
*.out
*.app
*.AppImage
core
core.*
vgcore.*
*.stackdump
*.dSYM/


# CMake
build/
build-*/
cmake-build-*/
out/
CMakeCache.txt
CMakeFiles/
CMakeScripts/
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
Testing/
_deps/
*.cmake
!CMakeLists.txt

# Qt
*.moc
moc_*.cpp
moc_*.h
qrc_*.cpp
ui_*.h
*.qmlc
*.jsc
*.user
*.user.*
.qmake.stash
*.pro.user
*.pro.user.*
Makefile.Debug
Makefile.Release
*.qmlproject.user*
.qmake.cache
.qmlc/


paper/
.env
